---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Social from "../components/Social.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Gmail from "../icons/Gmail.astro";
import Work from "../icons/Work.astro";
import Code from "../icons/Code.astro";
---

<Layout
  title="Portafolio de Louys - Desarrollador Web y Movil"
  description="Un desarrollador web y m칩vil con experiencia en tecnolog칤as modernas. Especializado en an치lisis, dise침o y creaci칩n de aplicaciones. Disponible para trabajar en proyectos desafiantes y emocionantes."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <img
        src="./foto-avatar.png"
        class="rounded-full size-16 mb-4"
        alt="Foto de avatar"
      />

      <h1
        class="text-white k text-3xl md:text-4xl lg:text-5xl flex font-semibold flex-row gap-x-4 pb-4 lg:pb-10 lg:flex-row"
      >
        Hola游녦, soy Louys
        <a
          target="_blank"
          rel="noopener"
          href="https://www.linkedin.com/in/louys-genao-abreu-441981274/"
          class="flex lg:justify-center mt-4 lg:mt-0 items-center"
        >
          <Badge>Laborando actualmente</Badge>
        </a>
      </h1>

      <h2>
        <span class="text-blue-400">Desarrollador de Software</span>, de Santo
        Domingo, Republica Dominicana 游뾇릖. Egresado del ITLA y estudiante actual
        de UNAPEC. Mi enfoque principal se centra en el an치lisis, dise침o y
        creaci칩n de aplicaciones, con 칠nfasis en la usabilidad y abarcando
        tecnolog칤as <span class="text-blue-400"></span> web y m칩vil . Adem치s, tengo
        experiencia en la administraci칩n y gesti칩n de bases de datos, utilizando
        t칠cnicas centradas en el desarrollo 치gil y la implementaci칩n de buenas pr치cticas.
      </h2>

      <nav class="flex gap-2 mt-6 flex-wrap">
        <Social href="https://www.linkedin.com/in/louys-genao-abreu-441981274/">
          <Linkedin class="size-4" />
          Linkedin
        </Social>

        <Social href="https://github.com/louysdev">
          <Github class="size-4" />
          Github
        </Social>

        <Social href="mailto:louysdev@gmail.com">
          <Gmail class="size-4" />
          Gmail
        </Social>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="pb-20">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center">
        <Work class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="pb-20">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center mb-6">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
