<header
  class="flex justify-center items-center
  mx-auto
  py-5
  w-full xl:w-[1120px]"
>
  <nav
    class="px-3 py-2
  flex flex-row items-center boder rounded-full
   bg-black/50"
  >
    <a
      class="hover:text-blue-400 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#inicio">Inicio</a
    >
    <a
      class="hover:text-blue-400 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#experiencia">Experiencia</a
    >
    <a
      class="hover:text-blue-400 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#proyectos">Proyectos</a
    >
    <a
      class="hover:text-blue-400 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="mailto:louysdev@gmail.com">Contacto</a
    >
  </nav>
</header>
