---

---

<a
  class="rounded-full border py-2 px-4 border-white/10 flex justify-center items-center gap-x-2 bg-white/5 hover:scale-110 transition hover:bg-white/10"
  href={Astro.props.href}
>
  <slot />
</a>
